<div class="container" style="height: 100%; margin: 0; ">
    <div class="row mt-4 pb-2" style="height: 100%;">
        <div class="col-md-3 d-flex flex-column">
            <h2>Filtros</h2>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre">
            <br>
            <label for="correo">Correo</label>
            <input type="email" id="correo" name="correo">
            <br>
            <label for="tel">Telefono</label>
            <input type="number" id="tel" name="tel">
            <br>
            <label for="fecha">fecha de creación</label>
            <input type="date" id="fecha" name="fecha">
        </div>
        <span class="col-md-1">
            <div class="v-line"></div>
        </span>
        <div class="col-md-8">
            <h4>Contactos</h4>
        </div>
    </div>
</div>
