
<nav class="navbar navbar-expand-lg" >
    <div class="container-fluid">
      <div class="icono_text navbar-brand d-flex flex-column text-white"><h1>Examen Frontend</h1><p>Nicolas Moreno Roa</p></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="true" aria-label="Toggle navigation" style="color: #ffffff; background-color: #ffffff;">
        <span class="navbar-toggler-icon"></span>
        
      </button>
      <div class="collapse navbar-collapse row" id="navbarScroll">
        <span class="col-md-2"></span>
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll col-md-4 d-flex justify-content-end" style="--bs-scroll-height: 100px;">
          <li class="nav-item ">
            <a class="nav-link active text-white" aria-current="page" routerLink="/contacto/lista"><h4> Contactos</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/contacto/nuevo"><h4>Nuevo Contacto</h4></a>
          </li>
          
          
        </ul>
        <div class="col-md-6">
          <form class="d-flex" role="search" style="width: 100%;">
            <input class="form-control me-2" type="search" placeholder="Buscar Contacto" aria-label="Search" [(ngModel)]="dato.filtroNombre" id="nombre" name="nombre">
            <button class="btn btn-outline-primary" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
